<template name="billsEdit">
	{{> billsEditSectionHeader}}
</template>

<template name="billsEditSectionHeader">
	<div class="section-header">
		<div class="left">
			<h1 class="title">
				<span>Счет</span> 
				<a class="link-dash" href="#">№{{item.title}}</a> 
				<span>от</span> 
				<a class="link-dash" href="#">{{humanizeDate item.date}}</a>
			</h1>

			<div class="subtitle">
				Для компании <a href="#">ООО &laquo;Кинетикс&raquo;</a>
			</div>
		</div>

		<div class="right">
			<div class="section-actions">
				<a href="#"><i class="fa fa-paper-plane-o"></i></a>
				<a href="#"><i class="fa fa-print"></i></a>
				<a href="#"><i class="fa fa-file-pdf-o"></i></a>
			</div>
		</div>
	</div>
</template>