template(name='billsEdit')
	+billsEditSectionHeader

template(name='billsEditSectionHeader')
	.breadcrumbs
		a(href='/') Менеджер
		span: i.fa.fa-chevron-right
		a(href='/bills') Счета
		span: i.fa.fa-chevron-right
		a.active Счет №{{item.title}}

	.section-header
		.left
			h1.title
				span Счет
				a.link-dash(href='#') №{{item.title}}
				span от
				a.link-dash(href='#') {{humanizeDate item.date}}

			.buttons
				select.button
					option(value='1') ООО «Кинетикс»
					option(value='2') ООО «Кинетикс»
					option(value='3') ООО «Кинетикс»
					option(value='4') ООО «Кинетикс»
					option(value='5') ООО «Кинетикс»
					option(value='6') ООО «Кинетикс»

				.gutter

				a.button.payed(href='#', class="{{isActiveClass item.payed}}")
					if item.payed
						i.fa.fa-check-circle-o
					else
						i.fa.fa-circle-o
					|Оплачен

				.gutter

				.button-group
					a.button(href='#')
						|Отправить

					a.button(href='#')
						|Напечатать

					a.button(href='#')
						|Скачать PDF

				.gutter

				a.button.red(href='#')
					i.fa.fa-times
					|Удалить