template(name='billsEdit')
	+billsEditSectionHeader

template(name='billsEditSectionHeader')
	.section-header
		.left
			h1.title
				span Счет
				a.link-dash(href='#') №{{item.title}}
				span от
				a.link-dash(href='#') {{humanizeDate item.date}}

			.buttons
				select.select.small
					option(value='1') ООО «Кинетикс»
					option(value='2') ООО «Кинетикс»
					option(value='3') ООО «Кинетикс»
					option(value='4') ООО «Кинетикс»
					option(value='5') ООО «Кинетикс»
					option(value='6') ООО «Кинетикс»
		.right
			.section-actions
				a(href='#'): i.fa.fa-paper-plane-o
				a(href='#'): i.fa.fa-print
				a(href='#'): i.fa.fa-file-pdf-o