<!-- contragentLink -->
<template name="contragentLink">
	<a class="link-underlined color-grey" href="/!!contragents/{{id}}">{{getCompanyType type}} &laquo;{{name}}&raquo;</a>
</template>


<!-- deleteIcon -->
<template name="deleteIcon">
	<a class="link-icon small color-red delete" title="Удалить" href="#"><i class="icon-times"></i></a>
</template>


<!-- payedWord -->
<template name="payedWord">
	{{#if payed}}
        <span class="color-green-light">Оплачен</span> 
        <span class="color-grey-light" title="{{humanizeDateTime payDate}}">{{humanizeDateFrom payDate}}</span>
    {{else}}
        {{#if dateGT payTill}}
            <span class="color-red-light">Оплата просрочена</span> 
            <span class="color-grey-light" title="{{humanizeDateTime payTill}}">{{humanizeDateFrom payTill}}</span>
        {{else}}
            <span class="color-grey-light" title="{{humanizeDateTime payTill}}">Оплата до {{humanizeDate payTill}}</span>
        {{/if}}
    {{/if}}
</template>


<!-- payedIcon -->
<template name="payedIcon">
	{{#if payed}}
        <span class="link-icon badge-payed" title="Оплачен"><i class="icon-ruble"></i></span>
    {{else}}
        <span class="link-icon badge-not-payed" title="hgНе оплачен"><i class="icon-ruble"></i></span>
    {{/if}}
</template>


<!-- priceConverted -->
<template name="priceConverted">
   {{convertPrice this}} <span class="rub">&#8381;</span>
</template>