<template name="invoicesSectionHeader">
	<div class="section-header filled bg-cold-dark">
		<div class="chevron"><i class="fa fa-share"></i></div>
		<h1 class="title">Выставленные счета</h1>
		<div class="subtitle">За период&nbsp;с 25 марта&nbsp;по 30 апреля 2015</div>
		<div class="section-actions">
			<a href="#" class="button accent"><i class="big fa fa-plus"></i>&nbsp;&nbsp;Создать счет</a>
			<a href="#" class="button"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Выбрать период</a>
			<a href="#" class="button"><i class="fa fa-filter"></i>&nbsp;&nbsp;Фильтр</a>
		</div>
	</div>
</template>