<template name="asideNav">
	<nav class="nav-main">
		{{#each mainMenu}}
			{{#if header}}
                <span class="title">{{title}}</span>
			{{else}}
                <a href="{{pathFor route}}" class="{{isActiveRoute regex=name className='active'}}">
                    <i class="fa {{icon}}"></i> {{title}}
                    {{#if getNewItemsCount name}}
                    	<span class="new border-{{color}}">{{getNewItemsCount name}}</span>
                    {{/if}}
                </a>
			{{/if}}
		{{/each}}
	</nav>
</template>