.app > .aside
	.footer
		height: $footer-height
		line-height: $footer-height
		padding: 0 25px
		color: $color-aside-title
		width: 100%
		background-color: rgba(59, 63, 77, .375)
		position: absolute
		bottom: 0