$base-font-size: 14px
$base-line-height: 1.3em
$app-min-width: 1000px

$header-height: 55px
$footer-height: 55px

$nav-main-left-space: 25px

$space-section: 30px

$width-header-search: 40%
$width-header-company: 33%
$width-header-user: 27%

$color-aside-bg: #2A313F
$color-aside-bg-highlight: #3B3F4D

$color-aside-text-highlight: #FBFBFF
$color-aside-link: #A7ABB0

$color-aside-title: #71757F

$color-base-text: #45464A

$color-logo: #212228

$color-ui-icons: #656d77

$color-header-hover: rgba(0, 0, 0, .025)

$width-aside: 220px