.section-menu
	line-height: 27px

	a
		font-size: 2em
		margin: 0 1.5ex 0 0
		font-weight: 200
		+link-default

.sorting
	text-align: right

	.title
		width: 35%
		display: inline-block
		padding-right: 2ex
		box-sizing: border-box

	.select
		width: 60%
		display: inline-block