.section-header
	padding: 20px 15% 85px $space-section
	position: relative
	overflow: hidden
	background-color: #3293C6
	color: #fff

	.title
		margin: 0 0 10px -2px

	.subtitle
	
	.chevron
		position: absolute
		height: 200px
		width: 200px
		line-height: 200px
		color: #fff
		opacity: .1
		right: $space-section

		.fa
			font-size: 200px

	&.filled
		color: #fff

	a
		color: #fff

.section-actions
	+clearfix

	position: absolute
	bottom: 0
	left: $space-section
	height: 50px

	.button
		display: block
		font-weight: 200
		height: 50px
		line-height: 50px
		float: left
		border-radius: 0
		background-color: #3CA6DF
		color: #fff
		margin-right: 2px
		min-width: 0
		padding-right: 26px

		&:after,
		&:before
			display: none

		&:hover
			background-color: #3CA6DF + 5

		&.accent
			background-color: #3CA6DF + 10
			font-weight: 600

			&:hover
				background-color: #3CA6DF + 15

				