.breadcrumbs
	margin 0 0 25px
	font-size 13px
	
	a
		margin 0 .75ex 0 0
		display inline-block
		
		&.active
			color $color-gray-dark
		
	>span
		margin 0 .75ex 0 0
		display inline-block
		color $color-gray-superlight