.button
	border 1px solid $color-gray-border
	border-radius 3px
	font-family 'Open Sans', sans-serif
	font-size: 13px
	height 28px
	line-height 28px
	padding 0 8px
	display inline-block
	color #666
	background none
	cursor pointer
	
	&:link
		color #666
	
	&:hover
		border-color $color-gray-border-hover
	
	.fa
		margin-right 5px
		font-size 14px
		
	&.active
		background #FFF2B3
		border-color #FFBF00
	
	&.red
		color $color-red-text
		border-color $color-red-border
		
		&:hover
			border-color $color-red-border-hover

	&.green
		color $color-green-text
		border-color $color-green-border
		
		&:hover
			border-color $color-green-border-hover
		
		&.active
			background $color-green-light
		
		.fa
			color $color-green-text
			
	&.payed		
		.fa
			color $color-gray-dark

		&.active
			@extend .button.green
		
select
	&.button
		appearance none
		height 30px
		
.button-group
	display inline-block
	
	.button
		margin-left -5px
		border-radius 0
		position relative
		
		&:first-child
			margin-left 0 !important
			border-radius 3px 0 0 3px
		
		&:last-child
			border-radius 0 3px 3px 0
			
		&:hover
			z-index 2
			
	
			