.bg-heat-dark
	background-color $color-heat-dark
	
.bg-heat-light
	background-color $color-heat-light

.bg-warm-dark
	background-color $color-warm-dark
	
.bg-warm-light
	background-color $color-warm-light

.bg-soft-dark
	background-color $color-soft-dark
	
.bg-soft-light
	background-color $color-soft-light

.bg-neutral-dark
	background-color $color-neutral-dark
	
.bg-neutral-light
	background-color $color-neutral-light

.bg-cold-dark
	background-color $color-cold-dark
	
.bg-cold-light
	background-color $color-cold-light

.bg-mid-dark
	background-color $color-mid-dark
	
.bg-mid-light
	background-color $color-mid-light

.bg-myst-dark
	background-color $color-myst-dark
	
.bg-myst-light
	background-color $color-myst-light

.bg-mix-dark
	background-color $color-mix-dark
	
.bg-mix-light
	background-color $color-mix-light
