header
	height 55px
	border-bottom 1px solid #EBEBEB
	position relative
	min-width $page-width
	
	.logo
		display block
		position absolute
		left 65px
		padding 0 0 0 47px
		font-weight 400
		font-size 18px
		height 55px
		line-height 56px
		width 100px
		
		&:before
			content ''
			position absolute
			left 0
			width 34px
			height 26px
			top 50%
			margin -14px 0 0 0
			background url('../images/logo.svg?r=1')
			
	.menu-link
		position absolute
		left 0
		top 0
		width 55px
		height 55px
		line-height 55px
		text-align center
		font-size 22px