header
	background-color $color-gray-ultra-light
	height 60px
	border-bottom 1px solid #EBEBEB
	position relative
	min-width $page-width
	
	.logo
		display block
		width 34px
		height 26px
		position absolute
		top 50%
		left 50%
		margin -13px 0 0 -17px
		background url('../images/logo.svg?r=1')