.main
	col(3/4, gutter: 4)
	
	padding 40px 0
	box-sizing border-box

h1
	font-size 28px
	font-weight 400
	margin 0 0 30px
	
	span
		color $color-gray-dark

.heading
	margin 0 0 40px 0
	

.buttons
	.gutter
		display inline-block
		width 15px