.main
	col(3/4, gutter: 4)
	
	padding 40px 0
	box-sizing border-box

h1
	font-size 28px
	font-weight 400
	margin 0 0 30px
	
	span
		color $color-gray-light

.heading
	margin 0 0 40px 0
	
.section-header
	.left 
		col(3/4, gutter: 4)
		
	.right
		col(1/4, gutter: 4)
		
.section-actions
	text-align right
	
	a
		display inline-block
		font-size 22px
		color $color-gray-light
		margin-left 1.5ex
		
		&:hover
			color $color-gray-light + 20