.main
	float right
	width $page-width - $aside-width
	padding 40px
	box-sizing border-box

h1
	font-size 28px
	font-weight 400
	margin 0 0 30px
	
	span
		color $color-gray-light
		

.heading
	margin 0 0 40px 0
	
.section-header
	.left 
		width 70%
		float left
		
	.right
		width 30%
		float right
		
.section-actions
	text-align right
	
	a
		display inline-block
		font-size 22px
		color $color-gray-light
		margin-left 1.5ex
		
		&:hover
			color $color-gray-light + 20