$color-gray-dark = #56616A
$color-gray-medium = #96A0A7
$color-gray-light = #98A3AA
$color-gray-ultra-light = #F6F6F6

$color-green = #55D58F
$color-blue = #00B6F1
$color-blue-light = #B8E3F2

$color-yellow = #FFEA78
$color-red = #FF6666

$color-text = #56616A

$ui-clickable-border-color = #C6CBCF

$page-width = 1000px
$aside-width = 180px

$font-size = 14px

$border-radius = 3px

$ui-clickable-small-height = 28px