$color-gray = #DEDEDE
$color-gray-superlight = $color-gray + 10
$color-gray-light = $color-gray + 5
$color-gray-medium = $color-gray - 10
$color-gray-dark = $color-gray - 20

$color-gray-border = $color-gray
$color-gray-border-hover = $color-gray - 25
$color-gray-text = $color-gray - 25

$color-green = #55D58F
$color-green-border = $color-green
$color-green-border-hover = $color-green - 25
$color-green-text = $color-green - 25

$color-red = #F66
$color-red-border = #FFB4B8
$color-red-border-hover = $color-red-border - 25
$color-red-text = $color-red

$color-green-light = #F2FFF8

$color-text = #333
$color-link = #666
$color-link-hover = #333

$color-block-bg-gray = #F7F7F7

$page-width = 1000px
$aside-width = 180px

$font-size = 16px