<head>
	<title>Manager</title>
</head>

<body>
	<div class="app">
		<aside>
			<header>
				<a class="logo" href="/">Менеджер</a>
			</header>

			<section>
				<nav class="nav-main">
					<a href="#">Счета</a>
					<a href="#">Счета-фактуры</a>
					<a href="#">Накладные</a>
					<a href="#">Договоры</a>
					<a href="#">Сообщения</a>
				</nav>
			</section>

			<footer>
				<a href="#" class="user">
					<span class="avatar">
						<img src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/128.jpg">
					</span>
					<span class="username">ruslanchek</span>
					<span class="online">online</span>
				</a>
			</footer>
		</aside>

		<main>
			dd
		</main>
	</div>
</body>