<template name="header">
	<header class="top">
		<form class="search">
			<input type="text" placeholder="Поиск"/>
			<label class="fa fa-search"></label>
		</form>

		<a id="company-button" href="#" class="button dropdown"><i class="icon-pre fa fa-rocket"></i>ООО &laquo;Онлайн Системс&raquo;</a>
		<a id="user-button" href="#" class="button dropdown"><i class="icon-pre fa fa-street-view"></i>rshashkov</a>

		<div class="buttons-group">
			<a href="#" class="button"><i class="icon-pre fa fa-bars"></i></a>
			<a href="#" class="button"><i class="icon-pre fa fa-power-off"></i></a>
		</div>
	</header>
</template>