<template name="itemsViewModeAndSorting">
	<div class="grid">
		<div class="col-15">
			<nav class="section-menu"><a href="#">Списком</a>
				<a href="#" class="active">Файлами</a>
				<a href="#">Папками</a>
			</nav>
		</div>
		<div class="col-9">
			<div class="sorting">
				<div class="title">Сортировка</div>
				<div class="select">
					<select id="realm-1" tabindex="3">
						<option>Недавние</option>
						<option>Давние</option>
						<option>А-Я</option>
						<option>Я-А</option>
						<option>Большие суммы</option>
						<option>Меньшие суммы</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</template>