head
	title Manager

body
	.app
		aside.aside
			header.top
				a.logo(href="#") Менеджер

			section.middle
				nav.nav-main
					span.title Документы
					a.active(href="#")
						i.fa.fa-share
						|Счета
						span.new.border-cold-dark 12
					a(href="#")
						i.fa.fa-reply
						|Счета-фактуры
						span.new.border-myst-dark 8
					a(href="#")
						i.fa.fa-th-list
						|Накладные
					a(href="#")
						i.fa.fa-check
						|Акты
					a(href="#")
						i.fa.fa-suitcase
						|Договоры

					span.title Контент
					a(href="#")
						i.fa.fa-folder-open
						|Номенклатура
					a(href="#")
						i.fa.fa-users
						|Контрагенты
					a(href="#")
						i.fa.fa-rub
						|Финансы

					span.title Прочее
					a(href="#")
						i.fa.fa-envelope
						|Уведомления
						span.new.border-heat-dark 3

			// footer.footer

		main.main
			header.top
				form.search
					input(type="text", placeholder="Поиск")
					label.fa.fa-search

			section.middle
				.section-header.filled.bg-cold-dark
					h1 Выставленные счета
						span.text-fade за период&nbsp;с 25 марта&nbsp;по 30 апреля 2015

			// footer.footer