head
	title Manager

body
	.app
		aside.aside
			header.top
				a.logo(href="#") Менеджер

			section.middle
				nav.nav-main
					span.title Документы
					a.active(href="#")
						i.fa.fa-share
						|Счета
					a(href="#")
						i.fa.fa-reply
						|Счета-фактуры
					a(href="#")
						i.fa.fa-th-list
						|Накладные
					a(href="#")
						i.fa.fa-check
						|Акты
					a(href="#")
						i.fa.fa-suitcase
						|Договоры

					span.title Контент
					a(href="#")
						i.fa.fa-folder-open
						|Номенклатура
					a(href="#")
						i.fa.fa-users
						|Контрагенты
					a(href="#")
						i.fa.fa-rub
						|Финансы

					span.title Прочее
					a(href="#")
						i.fa.fa-envelope
						|Уведомления
						span.new 3

			// footer.footer

		main.main
			header.top
			section.middle
			// footer.footer