head
	title Manager

body
	.app
		aside.aside
			.content
				header.top
					a.logo(href="#") Менеджер

				section.middle
					nav.nav-main
						span.title Документы
						a.active(href="#")
							i.fa.fa-share
							|Счета
							span.new.border-cold-dark 12
						a(href="#")
							i.fa.fa-reply
							|Счета-фактуры
							span.new.border-myst-dark 8
						a(href="#")
							i.fa.fa-th-list
							|Накладные
						a(href="#")
							i.fa.fa-check
							|Акты
						a(href="#")
							i.fa.fa-suitcase
							|Договоры

						span.title Контент
						a(href="#")
							i.fa.fa-folder-open
							|Номенклатура
						a(href="#")
							i.fa.fa-users
							|Контрагенты
						a(href="#")
							i.fa.fa-rub
							|Финансы

						span.title Прочее
						a(href="#")
							i.fa.fa-envelope
							|Уведомления
							span.new.border-heat-dark 3

			footer.footer 
				|&copy; 2015 Менеджер

		main.main
			header.top
				form.search
					input(type="text", placeholder="Поиск")
					label.fa.fa-search

				a#company-button.button.dropdown(href="#")
					i.icon-pre.fa.fa-rocket
					| ООО &laquo;Онлайн Системс&raquo;

				a#user-button.button.dropdown(href="#")
					i.icon-pre.fa.fa-street-view
					| rshashkov

				.buttons-group
					a.button(href="#")
						i.icon-pre.fa.fa-bars

					a.button(href="#")
						i.icon-pre.fa.fa-power-off
				
			section.middle
				.section-scrolling
					.scrolling
						.section-header.filled.bg-cold-dark
							.chevron
								i.fa.fa-share

							h1.title Выставленные счета
							.subtitle За период&nbsp;с 25 марта&nbsp;по 30 апреля 2015
							.section-actions
								a.button.accent(href="#")
									.big.fa.fa-plus
									|&nbsp;&nbsp;Создать счет

								a.button(href="#")
									i.fa.fa-calendar
									|&nbsp;&nbsp;Выбрать период

								a.button(href="#")
									i.fa.fa-filter
									|&nbsp;&nbsp;Фильтр

						nav.section-menu
							a(href="#") Списком
							a.active(href="#") Файлами
							a(href="#") Папками

						.section-content
							.docs-cards
								+sectionItems
								+sectionItems
								+sectionItems
								+sectionItems
								+sectionItems
								+sectionItems
								
			// footer.footer