<template name="asideNav">
	<nav class="nav-main">
		{{#each mainMenu}}
			{{#if header}}
                <span class="title">{{title}}</span>
			{{else}}
                <a href="{{path}}" class="{{isAsideNavItemSelected name currentSection}}">
                    <i class="fa {{icon}}"></i> {{title}}<!--span class="new border-cold-dark">12</span-->
                </a>
			{{/if}}
		{{/each}}

		<span class="title">Документы</span>
		<a href="#" class="active"><i class="fa fa-share"></i>Счета<span class="new border-cold-dark">12</span></a>
		<a href="#"><i class="fa fa-reply"></i>Счета-фактуры<span class="new border-myst-dark">8</span></a>
		<a href="#"><i class="fa fa-th-list"></i>Накладные</a><a href="#"><i class="fa fa-check"></i>Акты</a>
		<a href="#"><i class="fa fa-suitcase"></i>Договоры</a>

		<span class="title">Контент</span>
		<a href="#"><i class="fa fa-folder-open"></i>Номенклатура</a><a href="#"><i class="fa fa-users"></i>Контрагенты</a>
		<a href="#"><i class="fa fa-rub"></i>Финансы</a>

		<span class="title">Прочее</span>
		<a href="#"><i class="fa fa-envelope"></i>Уведомления<span class="new border-heat-dark">3</span></a>
	</nav>
</template>